.online {
    font-size: 10px;
    color: green;
    display: flex;
    justify-content: center;
}

.offline {
    font-size: 10px;
    color: red;
    display: flex;
    justify-content: center;
}

.name{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}